Makefile.conf.in
procimap.in
*~
debian/files
debian/procimap/*
debian/procimap.substvars
debian/procimap.debhelper.log
procimap.1
procimaprc.ex
procimap.conf
procimaprc
procimap.mid
procimap.pid
procimap_*_all.deb
procimap_*_amd64.build
procimap_*_i386.build
procimap_*_amd64.changes
procimap_*_i386.changes
