Source: procimap
Section: mail
Priority: optional
Maintainer: era eriksson <era+debian@iki.fi>
Build-Depends: debhelper (>> 7.0.0)
Vcs-Git: git://github.com/tripleee/procimap.git
Vcs-Browser: https://github.com/tripleee/procimap
Standards-Version: 3.5.2

Package: procimap
Priority: optional
Architecture: all
Depends: libmail-imapclient-perl
Recommends: libmail-imapclient-perl (>= 3.20-2)
Description: Run Procmail on an IMAP mailbox
 Procimap allows you to run local Procmail rules on a remote IMAP mailbox,
 with facilities for moving, copying, and deleting messages on the IMAP server.
